@import "tailwindcss";

@theme {
  --color-primary-dark: #232323;
  --color-primary-grey: #B1B1B1;
  --color-logo-text: #343C6A;
  --color-primary-blue: #396AFF;
  --color-primary-light: #F5F7FA;
  --color-credit: #41D4A8;
  --color-debit: #FF4B4A;
  --color-primary-dark-blue: #718EBF;
}